{% extends 'base.html.twig' %}

{% block body %}

    <div class="home">

        <h1>PDF GENRERATOR</h1>

        <p>Créez des fichiers PDF facilement et rapidement avec Pdf Generator</p>
        
        <img class="img" src="{{ asset('image/Icon_pdf_file.png') }}">

    </div>

{% endblock %}
